extends ../../layouts/default.pug

block main
  section
    .row
      .container-decs.col-4
          .text Thông tin hợp đồng
          .text-sub Hiển thị thông tin hợp đồng của người thuê với nhà trọ
    //- a.btn-edit 
    //-   i.fa-solid.fa-pencil
    .container.profile
      .profile-container
        h2 Nguyễn Văn A
        table
          tr
            th Họ và tên
            td.name Nguyễn Văn A
          tr
            th Tình trạng
            td.status Đã xác minh
          tr
            th CCCD
            td.cccd 012345678910
          tr
            th Số điện thoại
            td.sdt 0123456789
          tr
            th Ngày sinh
            td.dob 01/01/2000
          tr
            th Giới tính
            td.gender Nam
          tr
            th Địa chỉ
            td.address 23 Mỹ An 4, Ngũ Hành Sơn, Tp.Đà Nẵng
          tr
            th Công việc
            td.job Sinh viên
      
      