extends ../../layouts/default.pug

block main
  div.navbar
      button &larr; Năm trước
      .year-label
          div T.1
          div 2024
      .year-label
          div T.2
          div 2024
      .year-label
          div T.3
          div 2024
      .year-label
          div T.4
          div 2024
      .year-label.active
          div T.5
          div 2024
      .year-label
          div T.6
          div 2024
      .year-label
          div T.7
          div 2024
      .year-label
          div T.8
          div 2024
      .year-label
          div T.9
          div 2024
      .year-label
          div T.10
          div 2024
      .year-label
          div T.11
          div 2024
      .year-label
          div T.12
          div 2024
      button Năm tới &rarr;
  section
    .container.row
      .container-decs.col-4
        .text Quản lý danh sách hóa đơn
        .text-sub Bạn sẽ thấy các hóa đơn hàng tháng được lập 
      .search.col-6
        input(type="text" placeholder="Tìm kiếm hóa đơn")
      .add-room.col
        i.fa-solid.fa-plus

    .table-rooms.table-responsive
      table.table.table-bordered
        thead.table-secondary
          tr
            th
            th
            th Tên phòng
            th Diện tích
            th Giá thuê
            th Mức giá tiền cọc
            th Tiền nợ
            th Khách thuê
            th Ngày lập hóa đơn
            th Chu kì thu tiền
            th Ngày vào ở
            th Thời gian hợp đồng
            th Tình trạng
            th Tài chính
        tbody.table-success
          tr
            td 1
            td Anna
            td Pitt
            td 35
            td New York
            td USA
            td Female
            td Yes
            td Yes
            td Yes
            td Yes
            td Yes
            td Yes
            td Yes
        tbody.table-danger
          tr
            td 1
            td Anna
            td Pitt
            td 35
            td New York
            td USA
            td Female
            td Yes
            td Yes
            td Yes
            td Yes
            td Yes
            td Yes
            td Yes
        tbody.table-success
          tr
            td 1
            td Anna
            td Pitt
            td 35
            td New York
            td USA
            td Female
            td Yes
            td Yes
            td Yes
            td Yes
            td Yes
            td Yes
            td Yes
        tbody.table-success
          tr
            td 1
            td Anna
            td Pitt
            td 35
            td New York
            td USA
            td Female
            td Yes
            td Yes
            td Yes
            td Yes
            td Yes
            td Yes
            td Yes
