mixin find-product(keyword)
    form(action="/admin/manage-rooms" method="GET" class="mb-3")
        .search.col-5
            input(
                type="text",
                name="keyword",
                placeholder="Tìm kiếm theo mã phòng...",
                value=keyword || ''
            )
            button.btn.btn-primary(type="submit") Tìm kiếm