extends ../../layouts/default.pug

block main
    section 
        .container.row
            .container-decs
                .text Thông tin tài khoản
                .text-sub Bạn có thể xem thông tin tài khoản của bạn
        .container.info-list 
            .info-item
                span.label Tên đăng nhập:
                span.value 0562602xxx
            
            .info-item
                span.label Mật khẩu:
                span.value ***********
            
            .info-item
                span.label Họ Tên:
                span.value Nguyễn Thị B

            .info-item
                span.label CCCD:
                span.value 048204xxxxx
            
            .info-item
                span.label Số điện thoại:
                span.value 0562602xxx
            
            .info-item
                span.label GMAIL:
                span.value nguyenthibonguyenb@gmail.com


