doctype html
html(lang="vi")
  head
    link(rel="stylesheet" href="css/client/login.css")
    title(pageTitle)
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css")
  body
    .container
      .screen
        .screen__content
          form.login
            .login__field
              i.login__icon.fas.fa-user
              input.login__input(type="text" placeholder="User name")
            .login__field
              i.login__icon.fas.fa-lock
              input.login__input(type="password" placeholder="Password")
            .login__field
              i.login__icon.fas.fa-lock
              select.login__input#exampleSelect
                option(selected disabled) --Select an option--
                option(value="option1") Chủ trọ
                option(value="option2") Khách hàng
            button.button.login__submit
              span.button__text Log In Now
              i.button__icon.fas.fa-chevron-right
        .screen__background
          span.screen__background__shape.screen__background__shape4
          span.screen__background__shape.screen__background__shape3
          span.screen__background__shape.screen__background__shape2
          span.screen__background__shape.screen__background__shape1
