extends ../../layouts/default.pug

block main
  section
    .row
      .container-decs.col-4
          .text Thông tin hợp đồng
          .text-sub Hiển thị thông tin hợp đồng của người thuê với nhà trọ
     
    .table-rooms.table-responsive
      table.table.table-bordered
        thead.table-secondary
          tr
            th Tên phòng
            th Tổng thành viên
            th Giá thuê
            th Giá tiền cọc
            th Tiền nợ
            th Khách thuê
            th Ngày lập hóa đơn
            th Chu kì thu tiền
            th Ngày vào ở
            th Thời gian hợp đồng
            th Tình trạng
            th Tài chính
        tbody.table-success
          tr
            td 1
            td Anna
            td Pitt
            td 35
            td New York
            td USA
            td Female
            td Yes
            td Yes
            td Yes
            td Yes
            td Yes
    
      